body {
    font-family: sans-serif;
    background-color: #e7e9eb;
}

.add-post-btn {
    margin: 1rem;
    padding: 10px 20px;
    /* height: 2.5rem; */
    background-color: #337ab7;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    transition: background-color 300ms linear;
}
.add-post-btn:active {
    background-color: #2b608f;
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(180deg, rgba(80, 81, 82, 0.5), rgba(239, 239, 239, 0.5));
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal__window {
    width: 500px;
    background-color: white;
    border-radius: 0.5rem;
    padding: 15px;
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}
.modal__heading-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.modal__label {
    display: block;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.modal__input {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
}

.modal__button {
    align-self: center;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts__list {
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.post {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    margin: 10px;
    padding: 10px;
    background: white;
    border-radius: 5px;
}

.post__panel {
    display: flex;
    justify-content: space-between;
}

.post__author-full-name, .post__author-name, .post__author-email {
    margin: 10px 10px 10px 0px;
}
.post__author-full-name {
    font-weight: bold;
}
.post__author-email {
    border-bottom: 1px solid black;
}
.post__heading {
    margin: 15px 0px;
    font-size: 1.2rem;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.post__edit-btn {
    margin-right: 10px;
    opacity: 0;
    transition: opacity 300ms linear;
}

.post__ok-btn {
    margin-right: 10px;
}

.post:hover .post__edit-btn {
    opacity: 1;
}

.post__edit {
    display: block;
    width: 100%;
    font-family: sans-serif;
    white-space: unset;
    overflow-wrap: normal;
    box-sizing: border-box;
}
.post__edit-heading {
    font-size: 1.2rem;
}

.post__btn--hidden {
  display: none;
}

.post__edit-content {
    font-size: 1rem;
}