.hexagon {
	width: 58px;
	height: 32px;
	background: rgba(24, 207, 171, 1);
	position: relative;
  margin-right: 6px;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -16px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 29px solid transparent;
	border-right: 29px solid transparent;
	border-bottom: 16px solid rgba(24, 207, 171, 1);
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -16px; 
	left: 0;
	width: 0;   
	height: 0;
	border-left: 29px solid transparent;
	border-right: 29px solid transparent;
	border-top: 16px solid rgba(24, 207, 171, 1);
}

body{
  font-family: 'Montserrat', sans-serif;
}
.uppercase-text{
  text-transform: uppercase;
}
.white-text{
  color: rgba(255, 255, 255, 1);
}
.bold-text{
  font-weight: bold;
}
.to-normal-text{
  font-weight: 400;
  text-transform: none;
}
.highlight-text{
  color: rgba(24, 207, 171, 1);
}
.flex-box-column-centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
    background: url(../Sections-background/section-1header.jpg);
    background-position:center;
    background-size: cover;
}
.header-top{
  display: flex;
  justify-content: center;
  background-color: rgba(94, 93, 88, 0.6);
  position: relative;
}
.header-top-logo-img{
  font-size: 35px;
}
.header-top-logo{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 32px;
  position: relative;
  margin-right: 284px;
}
.header-top-nav-list{
  min-width: 657px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-top-nav-list-item{
  display: flex;
  align-items: center;
  height: 120px;
  cursor: pointer;
}
.header-top-nav-list-item:hover, .header-top-search:hover{
  box-sizing: border-box;
  border-top: 2px solid transparent;
  border-bottom: 2px solid rgba(24, 207, 171, 1);
}
.header-top-nav-list-item:hover a, .header-top-search:hover{
  color: rgba(24, 207, 171, 1);
}
.header-top-nav-list-item a{
color: white;
}
.header-top-search{
  cursor: pointer;
}
.header-img-h3{
  margin-top: 264px;
  font-size: 35px;
}
.header-img-h1{
  margin-top: 22px;
  font-size: 78px;
}
.header-img-p{
  margin-top: 22px;
  font-size: 34px;
  color: rgba(212, 212, 212, 1);
}
.header-buttons-block{
  margin-top: 185px;
  margin-bottom: 247px;
}
.header-button{
  min-width: 170px;
  padding: 24px 11px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.header-button-left{
  background-color: rgba(24, 207, 171, 1);
  margin-right: 26px;
}
.header-button-right{
  background-color: rgba(0, 203, 246, 1);
}
.features{
  display: grid;
  margin-top: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
  font-size: 20px;
}
.features-item{
  padding-top: 85px;
  padding-bottom: 100px;
}
.features-item-dark{
  background-color: rgba(28, 42, 51, 1);
  color: rgba(24, 207, 171, 1);
}
.features-item-light{
  background-color: rgba(24, 207, 171, 1);
}
.features-item-icon-wrapper{
  height: 100px;
  padding-bottom: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-services-section{
  padding-top: 83px;
  padding-bottom: 91px;
}
.section-heading{
  font-size: 36px;
  position: relative;
}
.section-heading::before{
  content: "";
  position: absolute; 
  background: rgba(24, 207, 171, 1);
  left: calc(50% - 43px);
  bottom: -24px;
  width: 80px; 
  height: 4px; 
}
.section-heading::after{
  content: "";
  position: absolute; 
  background: rgba(24, 207, 171, 1);
  left: calc(50% - 30px);
  bottom: -32px;
  width: 80px; 
  height: 4px; 
}
.our-services-section-list{
  margin-top: 101px;
  display: flex;
  padding-bottom: 23px;
}
.our-services-section-list-item{
  cursor: pointer;
  flex-grow: 1;
  width: 194px;
  height: 72px;
  background-color: rgba(248, 252, 254, 1);
}
.our-services-section-list-item a{
  color: rgba(113, 113, 113, 1);
  font-size: 16px;
}
.our-services-section-list-item:hover{
  border: 2px solid rgba(24, 207, 171, 1);
  box-sizing: border-box;
}
.our-services-section-list-item-active{
  color: rgba(255, 255, 255, 1);
  background-color: rgba(24, 207, 171, 1);
  position: relative;
}
.our-services-section-list-item-active a{
  color: rgba(255, 255, 255, 1);
}
.our-services-section-list-item-active:after {
	content: "";
	position: absolute;
	bottom: -10px;
	width: 0;   
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 10px solid rgba(24, 207, 171, 1);
}
.our-services-section-list-item-active:hover{
  border: 0px solid rgba(24, 207, 171, 1);
}
.our-services-article{
  display: flex;
}
.our-services-article p{
  width: 955px;
  margin-left: 15px;
  font-size: 14px;
  line-height: 24px;
}
.purchase-now-section{
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../Sections-background/section-2.jpg');
  background-color: black;
  background-position:center;
  background-size: cover;
  padding-bottom: 127px;
}
.purchase-now-section h2{
  font-size: 40px;
  padding-top: 126px;
  padding-bottom: 12px;
}
.purchase-now-section p{
  color: rgba(216, 216, 216, 1);
  font-size: 16px;
  padding-bottom: 67px;
}
.our-amazing-work-section{
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: rgba(233, 237, 239, 1);
}
.our-amazing-work-section-list{
  margin-top: 97px;
  display: flex;
}
.our-amazing-work-section-list-item{
  border: 1px solid rgba(218, 218, 218, 1);
  padding: 14px 15px 13px 15px;
}
.our-amazing-work-section-list-item a{
  color: rgba(113, 113, 113, 1);
}
.our-amazing-work-section-list-item:hover{
  border: 2px solid rgba(24, 207, 171, 1);
  padding: 13px 14px 12px 14px;
  box-sizing: border-box;
  cursor: pointer;
}
.our-amazing-work-section-gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 71px;
  margin-bottom: 70px;
}
.swg-btn-icon{
  margin-right: 15px;
}
.breaking-news-section{
  padding-top: 82px;
  padding-bottom: 129px;
}
.breaking-news-section-items{
  margin-top: 101px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 30px;
}
.breaking-news-section-item-wrapper{
  margin-top: 101px;
}
.item-wrapper{
  position: relative;
  cursor: pointer;
}
.item-wrapper:hover .item-fixed-date{
  background-color: rgba(24, 207, 171, 1);
}
.item-wrapper:hover .item-heading{
  color: rgba(24, 207, 171, 1);
}
.item-fixed-date{
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 6px 10px 6px;
  color: white;
  background-color: rgba(113, 113, 113, 1);
}
.item-fixed-date-desc{
  width: 58px;
  text-align: center;
  margin-bottom: 5px;
}
.item-heading{
  height: 33px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: rgba(113, 113, 113, 1);
}
.item-subheading{
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 13px;
  font-size: 14px;
  color: rgba(119, 119, 119, 1);
}
.item-subheading-author, .item-subheading-comments{
  margin-right: 10px;
}
.item-subheading-author::after{
  content: "|";
  margin-left: 10px;
}
.what-people-say-section{
  padding-top: 98px;
  padding-bottom: 103px;
  background-image: url('../Sections-background/section-3.jpg');
  background-position:center;
  background-size: cover;
}
.person-card::before{
  content: "❛❛";
  font-size: 100px;
  letter-spacing: -5px;
  color: rgba(24, 207, 171, 1);
}
.person-card{
  margin-top: 168px;
}
.person-card-comment{
  padding-bottom: 37px;
  width: 1160px;
  line-height: 30px;
  text-align: center;
  color: rgba(187, 187, 187, 1);
}
.person-card-photo{
  border: 11px solid rgba(24, 207, 171, 0.3);
  border-radius: 50%;
}
.person-card-name{
  padding-bottom: 13px;
}
.person-card-work{
  color: rgba(187, 187, 187, 1);
  font-size: 13px;
  margin-bottom: 38px;
}
.people-carousel{
  display: flex;
  align-items: center;
  width: 483px;
  justify-content: space-between;
  margin-top: 38px;
}
.people-carousel-wraper{
  width: 500px;
  overflow: hidden;
  height: 91px;
  align-content: center;
}
.people-carousel-list{
  position: relative;
  margin-top: 8px;
  width: 12000px;
  height: 75px;
}
.people-carousel-list-item{
  display: inline-block;
}
.people-carousel-list-photo{
  margin-left: 14px;
  margin-right: 14px;
}
.people-carousel-control{
  width: 31px;
  height: 31px;
  border: 1px solid rgba(187, 187, 187, 1);
  cursor: pointer;
}
.people-carousel-control:hover{
  background-color: rgba(24, 207, 171, 1);
  border: 1px solid rgba(24, 207, 171, 1);
}
.people-carousel-list-photo{
  border: 6px solid rgba(24, 207, 171, 0.3);
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
.photo-active{
  position: relative;
  bottom: 11px;
}
.gallery-section{
  padding-top: 108px;
  padding-bottom: 67px;
}
.gallery-section-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 115px;
  width: 1160px;
  justify-content: space-between;
  margin-bottom: 52px;
}
.gallery-section-item{
  margin-bottom: 20px;
}
.gallery-section-item-grid{
  display: grid;
  grid-template-columns: 124px 56px 66px 115px;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "item-1 item-1  item-2  item-2"
                       "item-3 item-4  item-4  item-5"
                       "item-6 item-7  item-7  item-8"
                       "item-9 item-10 item-10 item-11";
  justify-items: center;
  justify-content: center;
  column-gap: 3px;
  row-gap: 3px;
  margin-bottom: 16px;
}
.gallery-grid-item-1{
  grid-area: item-1;
}
.gallery-grid-item-2{
  grid-area: item-2;
}
.gallery-grid-item-3{
  grid-area: item-3;
}
.gallery-grid-item-4{
  grid-area: item-4;
}
.gallery-grid-item-5{
  grid-area: item-5;
}
.gallery-grid-item-6{
  grid-area: item-6;
}
.gallery-grid-item-7{
  grid-area: item-7;
}
.gallery-grid-item-8{
  grid-area: item-8;
}
.gallery-grid-item-9{
  grid-area: item-9;
}
.gallery-grid-item-10{
  grid-area: item-10;
}
.gallery-grid-item-11{
  grid-area: item-11;
}
.gallery-img:hover{
  cursor: pointer;
}
.footer{
  color: #AEAEAE;
  background-color: rgba(34, 53, 63, 1);
  padding-top: 48px;
  padding-bottom: 47px;
  font-weight: 300;
  font-size: 14px;
}
.not-displayed{
  display: none;
}
.filtered{
  display: none;
}