@font-face {
  font-family: 'iconsfont';
  src:  url('../iconsfont/iconsfont.eot?6uw2nx');
  src:  url('../iconsfont/iconsfont.eot?6uw2nx#iefix') format('embedded-opentype'),
    url('../iconsfont/iconsfont.ttf?6uw2nx') format('truetype'),
    url('../iconsfont/iconsfont.woff?6uw2nx') format('woff'),
    url('../iconsfont/iconsfont.svg?6uw2nx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {

  font-family: 'iconsfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fa-search:before {
  content: "\e900";
}
