body{
  font-family: "Open Sans", serif;
}
.uppercase-text{
  text-transform: uppercase;
}
.section-heading{
  color: rgba(24, 180, 207, 1);
  font-size: 27px;
}
.white-text{
  color: rgba(255, 255, 255, 1);
}
.header-top{
  display: flex;
  justify-content: space-between;
  background-color: rgba(49, 49, 49, 1);
}
.header-top-logo{
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
}
.header-top-logo-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  font-size: 17px;
}
.header-top-nav{
  display: flex;
  align-items: center;
}
.header-top-nav-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header-top-nav-list-item{
  display: flex;
  font: 15px;
}
.header-top-nav-list-item a{
  display: flex;
  text-decoration: none;
	color: white;
  padding: 28px 18px 26px;
}
.header-top-nav-list-item a:hover{
  color: rgba(20, 185, 213, 1);
}
.header-top-search{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 1);
}
.header-img{
  background: url(../img/header-background.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 27px;
  font-weight: bold;
}
.header-img h2{
  margin-top: 164px;
}
.header-buttons-block{
  margin-top: 44px;
  margin-bottom: 74px;
}
.header-button{
  min-width: 170px;
  margin-right: 20px;
  padding: 18px 19px 17px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
}
.header-button-left{
  background-color: #89CA62 ;
}
.header-button-right{
  background-color: #14B9D5;
}
.most-popular-posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 49px;
  padding-bottom: 74px;
  background-color: rgba(242, 242, 242, 1);
}
.section-heading{
  margin-bottom: 52px;
  font-weight: 700;
}
.most-popular-posts-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.most-popular-posts-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  background-color: rgba(255, 255, 255, 1);
}
.most-popular-posts-item-descr{
  padding: 21px 10px;
}
.most-popular-clients{
  background: url(../img/Gallery.png);
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  padding-top: 108px;
  padding-bottom: 191px;
}
.most-popular-clients-line{
  border-bottom: 3px solid rgba(24, 180, 207, 1);
  width: 60px;
  margin-top: 87px;
  margin-bottom: 106px;
}
.most-popular-clients-wrapper{
  display: grid;
  grid-template-columns: 207px 135px 232px 141px;
  grid-column-gap: 58px;
  justify-content: center;
  align-items: center;
}
.top-rated{
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 49px;
  justify-items: center;
}
.top-rated h3{
  grid-column: 1 / -1;

}
.top-rated-img-container{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
}
.top-rated-img-container img{
  width: 100%;
  height: auto;
}
.hot-news{
  padding-top: 48px;
  padding-bottom: 77px;
  grid-area: hot-news-heading;
}
.hot-news{
  display: grid;
  grid-template-columns: 252px 242px 242px 252px;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "hot-news-heading hot-news-heading hot-news-heading hot-news-heading"
                       "item-1 item-1 item-1 item-2"
                       "item-3 item-3 item-4 item-4"
                       "item-5 item-5 item-6 item-6"
                       "item-7 item-8 item-8 item-8";
  justify-items: center;
  justify-content: center;
  column-gap: 60px;
  row-gap: 44px;
}
.hot-news h3{
  grid-column: 1 / -1;
  margin-bottom: 7px;
}
.hot-news-item{
  background-color: rgba(249, 247, 247, 1);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.hot-news-item-1{
  grid-area: item-1;
}
.hot-news-item-2{
  grid-area: item-2;
  justify-self: flex-end;
}
.hot-news-item-3{
  grid-area: item-3;
}
.hot-news-item-4{
  grid-area: item-4;
}
.hot-news-item-5{
  grid-area: item-5;
}
.hot-news-item-6{
  grid-area: item-6;
}
.hot-news-item-7{
  grid-area: item-7;
  justify-self: flex-start;
}
.hot-news-item-8{
  grid-area: item-8;
}
.hot-news-item-left-right{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.hot-news-item-desc{
  padding-top: 12px;
  padding-right: 24px;
  text-align: right;
}
.hot-news-item-h{
  font-size: 18px;
  font-weight: bold;
}
.hot-news-item-h-card{
  padding-top: 14px;
  padding-bottom: 11px;
  text-align: center;
}
.hot-news-item-p{
  padding-top: 15px;
  font-size: 14px;
  line-height: 21px;
  padding-left: 5px;
  grid-column: 1 / span 2;
}
@media screen and (max-width: 1200px){
  .hot-news-item-left-right{
    display: grid;
    grid-template-columns: 483px;
  }
  .hot-news{
    grid-template-columns: 554px;
    grid-template-areas: "hot-news-heading"
                         "item-1"
                         "item-2"
                         "item-3"
                         "item-4"
                         "item-5"
                         "item-6"
                         "item-7"
                         "item-8";
    justify-content: center;
  }
  .hot-news-item-2{
    justify-self: center;
  }
  .hot-news-item-7{
    justify-self: center;
  }
}
.footer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  padding-top: 29px;
  padding-bottom: 27px;
  font-size: 13px;
}
.footer-logo{
  display: grid;
  grid-template-columns: auto auto; 
}
.header-button-change-theme{
  background-color: rgba(13, 13, 13, 13);
  color: rgba(242, 242, 242, 1);
}
.header-button:hover{
  cursor: pointer;
}