@mixin mobile-screen {
  @media (min-width: $g-small-screen) {
      @content;
  }
}

@mixin tablet-screen {
  @media (min-width: $g-medium-screen) {
      @content;
  }
}

@mixin desktop-screen {
  @media (min-width: $g-large-screen) {     
      @content;
  }
}