@import "./mixins";
@import "./variables";

.card {
  position: relative;
  max-width: 440px;
  list-style-type: none;
  padding: 20px 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  transition: box-shadow 300ms;

  &:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  }

  @include tablet-screen {
    max-width: 260px;
  }
  &__heading {
    font-weight: 400;
    min-height: 50px;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__desc {
    margin: 5px;
    display: block;
    font-size: 14px;
  }

  &__button {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 32px;
    border: 0;
    border-radius: 18px;
  }
  &__star {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
