.uppercase-text{
    text-transform: uppercase;
}
.index-page{
    font-family: "Roboto", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    max-width: 1028px;
    margin-right: auto;
    margin-left: auto;
    background: fixed center / cover url(../img/index-background.png);
}
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 46px;
    padding-bottom: 17px;
}
.header-logo{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header-logo:hover{
    color: rgba(242, 101, 34, 1);
}
.header-logo-icon{
    grid-row: 1 / span 2;
}
.header-logo-title{
    font-size: 29px;
    grid-column: 2 / span 1;
    line-height: 29px;
}
.header-logo-subtitle{
    font-size: 18px;
    grid-column: 2 / span 1;
    align-self: flex-end;
    line-height: 12px;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.contacts-item{
    display: block;
    font-size: 18px;
}
.contacts-item:hover{
    color: rgba(242, 101, 34, 1);
}
.main{
    display: grid;
    column-gap: 61px;
    justify-content: center;
    row-gap: 37px;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(182px, 300px));
    grid-template-rows: auto 1fr;
}
.main-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-item-container{
    position: relative;
    overflow: hidden;
}
.main-item-img{
    margin: auto;
    background: rgba(255, 255, 255, 0);
    border: 3px solid transparent;
    border-image: linear-gradient(to right bottom, #fff 0%, #000 100%);
    border-image-slice: 1;
}
.main-item-details{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 7px 16px 12px 16px;
    background: rgba(242, 101, 34, 1);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateY(0);
    transition: transform linear 200ms;
}
.main-item-ref:hover .main-item-details{
    transform: translateY(-100%);
}
.main-item-ref:hover .main-item-desc{
    color: rgba(242, 101, 34, 1);
}
.main-item-details-item-1{
    grid-area: 1 / 1;
    margin-bottom: 8px;
    font-size: 10px;
}
.main-item-details-item-2{
    grid-area: 2 / 1;
    font-size: 20px;
}
.main-item-details-item-3{
    grid-area: 2 / 2;
    font-family: inherit;
    font-size: 14px;
}
.main-item-desc{
    padding-top: 20px;
    font-size: 18px;
}
.footer{
    display: flex;
    justify-content: center;
    padding-top: 49px;
    padding-bottom: 15px;
}