.cart-section {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__cart-grid {
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 100px 100px 100px 40px;
  }
}

.cart-grid {
  &__cell {
    padding: 10px;
    align-self: center;
  }
  &__img {
    width: 100%;
    height: auto;
  }
}

.cell {
  &__head {
    font-weight: 700;
  }
  &__center {
    justify-self: center;
  }
}