@import "./mixins";
@import "./variables";

.goods-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop-screen {
    max-width: 1200px;
  }

  &__list {
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}