.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #141414;
  padding: 5px 30px;
  margin-bottom: 10px;

  &__logo {
    display: flex;
    align-items: center;
    position: relative; 
    transition: color 300ms;

    cursor: pointer;
    &:hover {
      color: rgb(241, 87, 67);
      & .header__logo-icon--hover {
        opacity: 1; 
      }
    }
  }
  &__logo-icon--hover {
    position: absolute;
    fill: rgb(241, 87, 67);
    opacity: 0;
    transition: opacity 300ms;
    
    &:hover {
      opacity: 1;
    }
  }

  &__logo-name {
    margin: 10px;
  }
}
