.modal {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: linear-gradient(180deg, rgba(80, 81, 82, 0.5), rgba(239, 239, 239, 0.5));
    display: flex;
    justify-content: center;

    &__window {
        width: 516px; 
        background-color: rgba(161, 161, 161, 1);   
        position: fixed;
        bottom: 40vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 24px;

        color: #FFFFFF;
        
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    }
    &__header {
        width: 454px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 31px;
        background-color: #515153;
        font-size: 22px;
        border-radius: 5px;
    }

    &__content {
        padding: 17px 49px 30px 44px;
        margin: 0;
        font-size: 15px;
        line-height: 30px;
        text-align: center;
    }

    &__button {
        background-color: #515153;
        border-radius: 5px;
        width: 101px;
        height: 41px;
        margin: 5px;
        padding: 0;
        color: #FFFFFF;
        border: none;
    }

    &--send &__header {
        background-color: #63d437; 
    }
    &--send &__window {
        background-color: #7be73c; 
    }

    &--delete &__header {
        background-color: #D44637; 
    }
    &--delete &__window {
        background-color: #E74C3C; 
    }
}