.invalid-input{
  border: 1px solid rgba(255,0,0,0.5);;
  box-shadow: 1px 1px 3px rgba(255, 0, 0, 0.5);
}
.labels{
  display: flex;
  align-items: center;
}
.focus-input{
  border: 3px solid greenyellow;
  box-shadow: 1px 1px 3px rgb(179, 255, 0);
}
.capture-value{
  border: 1px solid darkgray;
  display: flex;
  align-items: center;
  margin: 5px;
  padding-left: 5px;
  border-radius: 24px;
  height: 20px;
  padding: 6px;
  font-family: sans-serif;
  font-size: 12px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.value-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  font-family: sans-serif;
}
.closer-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgray;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  font-family: sans-serif;
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.error{
  font-family: sans-serif;
  font-size: 12px;
  color: brown;
}
