.header {
    @include flex-center;

    &__nav {
        @include flex-center;
    }

    &__nav-item {
        @include flex-center;
        
    }
    a {
        color: $title-text-color;
        padding: 45px 34px 51px;
        // display: block;
    }
}