$text-color-highlight: rgba(87, 164, 164, 1);
$title-text-color: rgba(78, 78, 78, 1);
$subtitle-text-color: rgba(124, 124, 124, 1);
$article-text-color: rgba(92, 92, 92, 1);
$footer-title-text-color: rgba(254, 254, 254, 1);
$footer-description-text-color: rgba(185, 185, 185, 1);