.index-body {
  background-color: #111110;
  overflow: hidden;
  color: #fbcf00;
  font-family: sans-serif;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  transform: perspective(100vh) rotateX(45deg);
  transform-origin: center bottom;
}
.article-heading,
.article-sub-heading {
  text-align: center;
}
.star-wars-like-animation {
  font-size: 5em;
  font-weight: bold;
  position: absolute;
  animation: 30s linear star-wars-like-animation-keys infinite;
}

@keyframes star-wars-like-animation-keys {
  0% {
    top: 100vh;
  }
  100% {
    top: -500vh;
  }
}
