.capital-font {
  text-transform: uppercase;
  font-weight: bold;
}
.center-text-align {
  text-align: center;
}
.header,
.main,
.footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  font-family: Montserrat, sans-serif;
}
.main {
  margin-top: 48px;
  margin-bottom: 42px;
}
.header-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header-nav-item-link {
  display: inline-block;
  margin: 30px 72px;
  color: #ff0000;
  text-decoration: none;
  letter-spacing: 2.7px;
}
.main-heading {
  margin-top: 48px;
  margin-bottom: 38px;
  font-size: 1.375rem;
  letter-spacing: 3.3px;
}
.p-main {
  margin: 28px 67.5px;
  letter-spacing: 2.4px;
  line-height: 1.625rem;
  display: flex;
}
.btn-main {
  display: block;
  border: 0px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #ff0000;
  font-size: 0.75rem;
  width: 191px;
  height: 51px;
  margin: 66px auto 42px;
  letter-spacing: 1.8px;
}
.footer {
  margin-top: 40px;
  height: 108px;
}
.p-footer-copyright {
  margin-top: 82px;
  margin-left: 713px;
  font-weight: bold;
  letter-spacing: 2.4px;
  display: flex;
}
